@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	body {
		@apply bg-gradient-to-b from-slate-800 via-slate-800 to-slate-800 select-none cursor-default text-white;
	}

	img {
		@apply pointer-events-none;
	}

	.btn {
		@apply bg-button hover:bg-button-hover duration-200 text-white cursor-pointer;
	}
}

@font-face {
	font-family: "Karla";
	src: url("/fonts/Karla-Variable.ttf");
}
